[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Backup System
GenericName=Sparky Backup System
Comment=SparkyLinux system backup tool
Comment[el]=SparkyLinux εφαρμογή αντιγράφου συστήματος
Comment[es]=Herramienta de copia de seguridad de SparkyLinux
Comment[fi]=SparkyLinux-järjestelmän varmuuskopiointityökalu
Comment[fr]=Outil de sauvegarde système de SparkyLinux
Comment[id]=Tool Backup Sistem SparkyLinux
Comment[it]=Strumento per backup del sistema SparkyLinux
Comment[pl]=Narzędzie do tworzenia kopii zapasowej SparkyLinux
Comment[pt_PT]=Ferramenta de cópias de segurança do SparkyLinux
Comment[ru]=SparkyLinux инструмент для резервного копирования системы
Comment[uk]=Резервне копіювання системи SparkyLinux
Exec=remsu /usr/bin/sparkybackup-gui
Icon=/usr/share/icons/sparky/sparkybackupsys/sparky.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

