[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Backup System
GenericName=Sparky Backup System
Comment=SparkyLinux system backup tool
Comment[el]=SparkyLinux εφαρμογή αντιγράφου συστήματος
Comment[fr]=Outil de sauvegarde système de SparkyLinux
Comment[id]=Tool Backup Sistem SparkyLinux
Comment[it]=Strumentto di SparkyLinux per effettuare backup di sistema
Comment[pl]=Narzędzie do tworzenia kopii zapasowej SparkyLinux
Comment[pt_PT]=Ferramenta de cópias de segurança do SparkyLinux
Comment[ru]=SparkyLinux инструмент для резервного копирования системы
Exec=remsu /usr/bin/sparkybackup-gui
Icon=/usr/share/icons/sparky/sparkybackupsys/sparky.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

